@page "/details/{ProductId:int}"
@using TangyWeb_Client.ViewModels;

@inject IProductService _productService
@inject ICartService _cartService
@inject NavigationManager _navigationManager
@inject IJSRuntime _jsRuntime

<div class="background-container" style="background-image: url('images/bk.png');">
    <NavMenu />

    @if (IsProcessing)
    {
        <div style="position: fixed; top: 50%; left: 50%; margin-top: -50px; margin-left: -100px;">
            <img src="images/ajax-loader.gif" />
        </div>
    }
    else
    {
        <EditForm OnSubmit="AddToCart" Model="DetailsVM" method="post">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="container mt-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <h1 class="text-primary">@Product.Name</h1>
                            </div>
                            <div class="col-12 col-md-6 text-md-end pt-4">
                                <span class="badge bg-info pt-2">@Product.Category.Name</span>
                                <span class="badge bg-warning pt-2">@Product.Color</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <img src="@Product.ImageUrl" width="100%" class="rounded mb-3" />
                                    <div class="row">
                                        <div class="col-4">
                                            <img src="images/photo1.jpg" class="img-thumbnail" />
                                        </div>
                                        <div class="col-4">
                                            <img src="images/photo2.jpg" class="img-thumbnail" />
                                        </div>
                                        <div class="col-4">
                                            <img src="images/photo3.jpg" class="img-thumbnail" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <h2 class="text-primary">@Product.Name</h2>
                                        </div>
                                        <div class="col-12">
                                            <p>@((MarkupString)Product.Description)</p>
                                        </div>
                                    </div>
                                    <div class="row m-2">
                                        @foreach (var produtPrice in Product.ProductPrices)
                                        {
                                            <div class="col-4">
                                                @if (produtPrice.Id == DetailsVM.SelectedProductPriceId)
                                                {
                                                    <div class="bg-light text-center p-2"
                                                         style="border:3px solid #28A745; border-radius:10px;box-shadow:5px"
                                                         @onclick="(args)=>SelectedProductPrice(args,produtPrice.Id)">
                                                        <p>@produtPrice.Size</p>
                                                        <p>Rs @produtPrice.Price.ToString("N2")</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="bg-light text-center p-2"
                                                         style="border:1px solid; border-radius:10px;box-shadow:5px"
                                                         @onclick="(args)=>SelectedProductPrice(args,produtPrice.Id)">
                                                        <p>@produtPrice.Size</p>
                                                        <p>Rs @produtPrice.Price.ToString("N2")</p>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                    @if (!Product.ProductPrices.Any())
                                    {
                                        <p class="text-warning">Product not available yet...</p>
                                    }
                                    else
                                    {
                                        <div class="row m-2">
                                            <div class="col-2 text-primary"><h4>Count</h4></div>
                                            <div class="col-10">
                                                <InputNumber @bind-Value="DetailsVM.Count" class="form-control" />
                                                <ValidationMessage For="() => DetailsVM.Count"></ValidationMessage>
                                            </div>
                                        </div>
                                    }
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-6 pb-1">
                                                <a class="btn btn-success form-control" href="/Favourite">
                                                    <i class="bi bi-heart"></i>
                                                </a>
                                            </div>
                                            <div class="col-6 pb-1">
                                                @if (DetailsVM.SelectedProductPriceId > 0)
                                                {
                                                    <button type="submit" value="Add to Cart" class="btn btn-primary form-control">Add to Cart</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" value="Add to Cart" disabled class="btn btn-primary form-control">Add to Cart</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 pb-1">
                                <a class="btn btn-success form-control" href="/ProductsPage">Back to Products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    }

    <Footer />
</div>

@code {
    [Parameter]
    public int ProductId { get; set; }

    public ProductDTO Product { get; set; } = new();
    public bool IsProcessing { get; set; } = false;
    public DetailsVM DetailsVM { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        Product = await _productService.Get(ProductId);
        IsProcessing = false;
    }

    private async Task SelectedProductPrice(MouseEventArgs e, int productPriceId)
    {
        DetailsVM.ProductPrice = Product.ProductPrices.FirstOrDefault(u => u.Id == productPriceId);
        DetailsVM.SelectedProductPriceId = productPriceId;
    }

    private async Task AddToCart()
    {
        ShoppingCart shoppingCart = new()
            {
                Count = DetailsVM.Count,
                ProductId = ProductId,
                ProductPriceId = DetailsVM.SelectedProductPriceId
            };

        await _cartService.IncrementCart(shoppingCart);
        _navigationManager.NavigateTo("/ProductsPage");
        await _jsRuntime.ToastrSuccess("Product added to cart successfully!");
    }
}
