@page "/"
@using Microsoft.EntityFrameworkCore
@using Tangy_DataAccess.Data
@inject ApplicationDbContext _context

<PageTitle>CakeO'Clock Server App</PageTitle>

<div class="background-container">


    <div class="title">
        <h1 class="title-text">Welcome to Cake O' Admin!</h1>
        <h4 class="title-date">@DateTime.Now.ToString("MMMM dd, yyyy")</h4>
    </div>
    <div class="box"></div>
    <div class="box"></div>
    
    <h3 class="title-summary">Summary</h3>

    <div class="box"></div>

    <div class="counter">

        <div class="row">
            <div class="column">
                <div class="card-pending">
                    <p><i class="fa fa-user"></i></p>
                    <h3>@pendingCount</h3>
                    <p>Pending</p>
                </div>
            </div>

            <div class="column">
                <div class="card-confirmed">
                    <p><i class="fa fa-check"></i></p>
                    <h3>@confirmedCount</h3>
                    <p>Confirmed</p>
                </div>
            </div>

            <div class="column">
                <div class="card-shipped">
                    <p><i class="fa fa-smile-o"></i></p>
                    <h3>@shippedCount</h3>
                    <p>Shipped</p>
                </div>
            </div>

            <div class="column">
                <div class="card-outlets">
                    <p><i class="fa fa-coffee"></i></p>
                    <h3>@recivedCount</h3>
                    <p>Received to Outlets</p>
                </div>
            </div>
        </div>


    </div>

    <div class="box"></div>
    <div class="counter"> 
        <div class="row">
            <div class="column-2">
                <div class="card-completed">
                    <p><i class="fa fa-user"></i></p>
                    <h3>@deliveredCount</h3>
                    <p>Total Completed</p>
                </div>
            </div>

            <div class="column-2">
                <div class="card">
                    <p><i class="fa fa-check"></i></p>
                    <h3>@cancelledCount</h3>
                    <p>Cancelled</p>
                </div>
            </div>
        </div>


    </div>



    <style>

        .status {
            padding: 100px 100px;
        }
        .title-text {
            font-size: 1.2em;
            font-weight: bold;
        }

        .date-time-text {
            font-size: 1em;
            color: gray;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        .text-end {
            text-align: right;
        }
        .box {
            height:20px;
        }
    </style>

 


    </div>


@code {
    
    private DateTime currentDateTime;
    private string email = "";

    private int confirmedCount;
    private int pendingCount;
    private int cancelledCount;
    private int shippedCount;
    private int recivedCount;
    private int deliveredCount;

    protected override async Task OnInitializedAsync()
    {
        // Fetch the data from the database
        var orderHeaders = await _context.OrderHeaders.ToListAsync();

        // Calculate the counts
        confirmedCount = orderHeaders.Count(o => o.Status == "Confirmed");
        pendingCount = orderHeaders.Count(o => o.Status == "Pending");
        cancelledCount = orderHeaders.Count(o => o.Status == "Cancelled");
        shippedCount = orderHeaders.Count(o => o.Status == "Shipped");
        recivedCount = orderHeaders.Count(o => o.Status == "Recived");
        deliveredCount = orderHeaders.Count(o => o.Status == "Delivered");


    // public const string Status_Pending = "Pending";
    // public const string Status_Confirmed = "Confirmed";
    // public const string Status_Shipped = "Shipped";
    // public const string Status_Refunded = "Refunded";
    // public const string Status_Cancelled = "Cancelled";
    // public const string Status_Delivered = "Delivered";
    // public const string Status_Recived = "Recived";

        @*         <ul>
            <li class="title-text">Pending Orders: @pendingCount</li>
            <li class="title-text">Confirmed Orders: @confirmedCount</li>
            <li class="title-text">Shipped Orders: @shippedCount</li>
            <li class="title-text">Received to Outlet Orders: @recivedCount</li>
            <li class="title-text">Cancelled Orders: @cancelledCount</li>
            <li class="title-text">Delivered Orders: @deliveredCount</li>
        </ul> *@
    }
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Saira:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap" rel="stylesheet">
<style>





    .background-container {
        background-size: cover;
        background-position: center;
        height: auto; /* Set full height of viewport */
    }

    .photos-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1000px;
    }

    .text-center {
        font-family: "Quicksand", sans-serif;
        font-size: 40px;
        margin-bottom: 30px;
        color: rgba(0, 0, 0, 0.8);
    }

    .photo-tile {
        flex: 0 0 calc(25% - 40px);
        margin: 10px;
        text-align: center;
    }

    .caption {
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.8);
        font-family: "Quicksand", sans-serif;
    }

    .photo-tile img {
        width: 200px;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .title-text {
        text-align:center;
        font-family: "Philosopher", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size:40px;
    }

    .title-date {
        text-align: center;
        font-family: "Philosopher", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
    }


    .title-summary {
        background-color: rgba(0,0,0,0.2);
        font-family: "Tenor Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 10px 10px;
    }
    

    .date-text {
        font-size: 1.2em;
        color: #555;
        margin-bottom: 20px;
    }


    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

</style>