@page "/product"

@inject IProductRepository _productRepository
@inject  IJSRuntime _jsRuntime
@inject IFileUpload _fileUpload
@inject NavigationManager _navigationManager



<_DeleteConfiremation IsParentComponentProcessing="IsLoading" ConfirmationChanged="ConfirmDeleteClick"> </_DeleteConfiremation>

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Product List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="product/create" class="btn btn-primary form-control">Add New Product</a>
    </div>
    <div class="col-12">
        @if(Products.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Shop Favourites</th>
                        <th>Customer Favourites</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var prod in Products)
                    {
                        <tr>
                            <td>
                                @prod.Name
                            </td>
                            <th>
                                <input type="checkbox" disabled checked="@prod.ShopFavourites"/>
                            </th>
                            <th>
                                <input type="checkbox" disabled checked="@prod.CustomerFavourites" />
                            </th>
                            <th>
                                @prod.Category.Name
                            </th>
                            <td>
                            <NavLink href="@($"product/edit/{prod.Id}")" class="btn-info btn">Edit</NavLink>
                            <NavLink href="@($"product/price/{prod.Id}")" class="btn-success btn">Price</NavLink>
                            <button class="btn btn-danger" @onclick="() => HandleDelete(prod.Id)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                //loading gif
                <div class="text-center">
                    <img src="images/loading.gif">
                </div>
            }
            else
            {
                //no records
                <p>No records found.</p>
            }
        }
    </div>
</div>


@code {
   
}
