@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@* <h1>@ViewData["Title"]</h1> *@



<div class="background-container" style="background-image: url('images/patternxl1.png'); ">

    <div style="display: flex; justify-content: center;">
        <EditForm Model="SignInRequest" OnValidSubmit="LoginUser">
            <DataAnnotationsValidator />

            <div class="py-4">
                <div class="row form-group" style="display: flex; justify-content: center;">
                    <div class="col-12  ">
                        <div class="card border custom-card">
                            <div class="card-body px-lg-4 pt-4">

                                <img src="~/images/logo.png" alt="Logo" style="height: 180px; display: block; margin: 0 auto;">

                                <div class="col-12 text-center py-2">
                                    <h1>Register</h1>
                                    <div class="">
                                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                            <p class="text">Create a new account.</p>
                                            <hr />
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                                <label asp-for="Input.Email">Email</label>
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                                <label asp-for="Input.Password">Password</label>
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    .custom-card {
        height: auto;
        width: 600px;
        /* background-color: rgba(0, 0, 0, 0.2); */
        /* color: white; */
        border-radius: 20px;
        justify-content: center;
        margin: 2px;
    }


    .image-container {
        display: flex;
        justify-content: center;
    }

    .text {
        align-content: center;
    }
</style>




@* @page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@